//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------

$icon-font-path: "../fonts/" !default;
$fa-font-path:   "../fonts" !default;

$player-color: #5cb85c !default;
$server-color:  #f0ad4e !default;
